body{
	background-color: black;
}

.picture{
	background-color: green;
	border-style: solid;
	border-width: 1px;

}
.picture, .golfers{
	height: 600px;
}
.golfers{
	background-color: red;
	color:white;
}

.golfers li{
	margin:20px;
}

.player_default_picture{
	height:570px;
	background-size:100%;
	background-repeat: no-repeat;
}

.players li:hover, .home:hover {
	cursor: pointer;
}
/*
.AdamScott_default_picture{
	background-image: url('../img/adam_scott.jpg');
}

.TigerWoods_default_picture{
	background-image: url('../img/tiger_woods.jpg');
}
*/
